// Bootstrap override

.navbar{
    margin-bottom: 0px !important;
}

#page-content-wrapper {
	background-color: #eee;
}

.question-results {
	background-color: #fff;
	margin-bottom: 30px;
}


.circle {
	background-color: #AB5CB8;
	border-radius: 50%;
	text-align: center;
	padding: 20px;
	line-height: 0;
	display: inline-block;
}