<template name="marketingLanding">

<section class="hero">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar"> <span class="sr-only">Toggle navigation</span>  <span class=icon-bar></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span> 
                </button>
                <p class="navbar-brand"><a href="/" class="navbar-logo">SpikeNode</a>
                </p>
            </div>
            <div class="collapse navbar-collapse" id="primary-navbar">
                <ul class="nav navbar-nav navbar-right navbar-lean">
                    <li><a href="#how-it-works">Learn more</a>
                    </li>
                    <li><a href="mailto:hello@spikenode.com?subject=[enquiry]">Chat with us</a>
                    </li>
                    <li><a href="#">Login</a>
                    </li>
                    <li><a href="#" class="btn-signup ga-signup" data-toggle="modal" data-target="#signupModal">GET EARLY ACCESS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class=container>
        <section class="hero-heading text-center">
            <h1 class=hero-headline id=hero-headline>A simple way to deploy code to your own cloud</h1> 
            <h2 class=hero-tagline>Setup environments and servers with a few clicks, deploy your apps to the cloud in minutes.</h2> 
        </section>
        <section class="hero-buttons text-center"> <a href=# class="btn-hero1 btn btn-bold ga-signup" role=button data-toggle=modal data-target=#signupModal>GET EARLY ACCESS</a>  <a href=#how-it-works class="btn-hero2 btn btn-lean btn-arrow-down btn-arrow-white" role=button>Learn more</a> 
        </section>
        <section class="hero-features hidden-xs hidden-sm" style="display: none">
            <div class=row>
                <div class=col-md-4>
                    <div class=media>
                        <div class=media-left>
                            <img src=images/c6e55d86.icon-quick.svg alt="">
                        </div>
                        <div class=media-body>
                            <h4 class=media-heading>Quick</h4> Just SSH and Ansible playbooks.
                            <br>Agentless, nothing to install.</div>
                    </div>
                </div>
                <div class=col-md-4>
                    <div class=media>
                        <div class=media-left>
                            <img src=images/f7203923.icon-easy.svg alt="">
                        </div>
                        <div class=media-body>
                            <h4 class=media-heading>Easy</h4> Configure and manage servers with a simple user interface.</div>
                    </div>
                </div>
                <div class=col-md-4>
                    <div class=media>
                        <div class=media-left>
                            <img src=images/b5adbaf5.icon-flexible.svg alt="">
                        </div>
                        <div class=media-body>
                            <h4 class=media-heading>Flexible</h4> A powerful API.
                            <br>Run commands anywhere & anytime.</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<section class=announcement>
    <div class=container> <span class="label label-announcement">UPDATE</span> 
        <p>Spikenode is now a deployment tool. <a class="btn-link btn-link-more btn-arrow-right" href=http://blog.spikenode.com/post/122764804870/time-to-pivot>LEARN MORE</a>
        </p>
    </div>
</section>
<section class=how-it-works id=how-it-works>
    <div class=container>
        <div class=row>
            <div class=col-md-12>
                <h1 class=section-headline>How it works</h1> 
                <h2 class=section-tagline>SpikeNode is a cloud deployment tool.</h2> 
                <p class="section-description section-space">Connect to with your favorite code repository, spikenode organizes your commit history into a timeline and you can deploy any version to different environments in your cloud servers, manually or automatically after a push.</p>
                <img src=images/946b2a5f.spikenode-ui.png
                alt="Spikenode friendly user interface" class="img-responsive img-center">
            </div>
        </div>
    </div>
</section>
<section class="use-cases">
    <div class="container">
        <div class="row use-cases-space">
            <div class="col-md-6">
                <img src="images/abb66dc1.git-to-cloud.png" alt="">
            </div>
            <div class="col-md-6">
                <h1 class=section-headline>Continuous Integration and Deployment</h1> 
                <h2 class=section-tagline>Code, Test, Deploy, repeat.</h2> 
                <p class=section-description>After code is pushed and tested by your CI, spikenode can be triggered to automatically deploy to live servers, in any environment you choose.</p>
            </div>
        </div>
        <div class="row use-cases-space">
            <div class="col-md-6">
                <h1 class="section-headline">Zero Configuration</h1> 
                <h2 class="section-tagline">Automate all the things.</h2> 
                <p class="section-description">Spikenode uses Ansible to configure the server for you. All parameters are configurable so flexibility is maintained.</p>
            </div>
            <div class="col-md-6">
                <img src="images/cfec2c34.zero-config.png" alt="">
            </div>
        </div>
        <div class="row use-cases-space">
            <div class="col-md-6">
                <img src="images/1460372a.multicloud.png" alt="">
            </div>
            <div class=col-md-6>
                <h1 class="section-headline">Multi-cloud</h1> 
                <h2 class="section-tagline">Your server in your cloud, multiplied.</h2> 
                <p class="section-description">Want your staging environment in DigitalOcean, production in AWS? All combinations are welcome.</p>
            </div>
        </div>
    </div>
</section>

<section class="supports">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class=section-headline>Excellent Support</h1> 
                <h2 class=section-tagline>Any questions or feedback?</h2> 
                <p><a href="mailto:hello@spikenode.com?subject=[enquiry]">Come chat with us</a> or <a href="mailto:hello@spikenode.com?subject=[schedule a demo]">schedule a demo</a>, we'll help you to automate your environment.</p>
                <img src=images/8e459858.supports-spikey.png
                alt="Excellent support" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class=cta>
    <div class=container>
        <div class=row>
            <div class="col-md-12 text-center">
                <div class=row>
                    <div class=col-md-8>
                        <h1 class=signup-headline>What are you waitin’ for? It takes less than 5 minutes to get started </h1> 
                    </div>
                    <div class=col-md-3> <a href=# class="btn-bold-revert btn-arrow-right btn-arrow-white ga-signup" data-toggle=modal data-target=#signupModal>GET EARLY ACCESS</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class=footer>
    <div class=container>
        <div class=row>
            <div class=col-md-12>
                <ul class=footer-nav>
                    <li>
                        <img src=images/11cf38da.logo-coloured.png alt="">
                    </li>
                    <li><a href=http://spikenode-docs.readthedocs.org target=_blank>Documentation</a>
                    </li>
                    <li><a href="http://blog.spikenode.com/">Blog</a>
                    </li>
                    <li><a href="mailto:hello@spikenode.com?subject=[schedule a demo]">Schedule a demo</a>
                    </li>
                    <li><a href=http://twitter.com/spikenode target=_blank>Status</a>
                    </li>
                    <li><a href=http://twitter.com/spikenode target=_blank>Twitter</a>
                    </li>
                    <li><a href=mailto:hello@spikenode.com>hello@spikenode.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</template>